Repository DANS-KNAW/easy-deposit-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jo-pol, @rvanheest, @janvanmansum, @DANS-KNAW/easy-leads

shouldnt have deleted these
  docs/01_manual.md
  docs/02_to_api.md
  docs/index.md
Owners: @jo-pol, @janvanmansum

setup mkdocs
  docs/index.md
  docs/manual.md
  docs/to-api.md
  mkdocs.yml
Owners: @jo-pol, @janvanmansum, @rvanheest

update travis files
  .travis.sh
  .travis.yml
Owners: @jo-pol, @rvanheest

add license header
  .travis.sh
  mkdocs.yml
Owners: @jo-pol, @rvanheest

fix api link and index page
  docs/index.md
  docs/to-api.md
  mkdocs.yml
Owners: @jo-pol, @janvanmansum, @rvanheest

EASY-2370 convert from Jekyll to MkDocs (#184)
  .gitignore
  .travis.sh
  .travis.yml
  docs/.gitignore
  docs/01_manual.md
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/_layouts/home.html
  docs/index.md
  docs/to-api.md
  mkdocs.yml
Owners: @jo-pol, @rvanheest, @janvanmansum

update swagger files
  docs/swagger-ui/favicon-16x16.png
  docs/swagger-ui/favicon-32x32.png
  docs/swagger-ui/swagger-ui-bundle.js
  docs/swagger-ui/swagger-ui-standalone-preset.js
  docs/swagger-ui/swagger-ui-standalone-preset.js.map
  docs/swagger-ui/swagger-ui.css
  docs/swagger-ui/swagger-ui.css.map
  docs/swagger-ui/swagger-ui.js
  docs/swagger-ui/swagger-ui.js.map
Owners: @jo-pol, @janvanmansum

NO JIRA replace swagger files (#185)
  docs/swagger-ui/favicon-16x16.png
  docs/swagger-ui/favicon-32x32.png
  docs/swagger-ui/swagger-ui-bundle.js
  docs/swagger-ui/swagger-ui-standalone-preset.js
  docs/swagger-ui/swagger-ui-standalone-preset.js.map
  docs/swagger-ui/swagger-ui.css
  docs/swagger-ui/swagger-ui.css.map
  docs/swagger-ui/swagger-ui.js
  docs/swagger-ui/swagger-ui.js.map
Owners: @jo-pol, @janvanmansum

unzip checks for not wanted directory traversal filenames
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/package.scala
  src/test/resources/manual-test/slip.zip
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichZipInputStreamSpec.scala
Owners: @jo-pol, @rvanheest

unit succeeded only when other tests were not executed
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichZipInputStreamSpec.scala
Owners: @jo-pol, @rvanheest

EASY-2422 unzip checks for not wanted directory traversal filenames (#186)
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/package.scala
  src/test/resources/manual-test/slip.zip
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichZipInputStreamSpec.scala
Owners: @jo-pol, @rvanheest

handle tar like zip
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Errors.scala
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/DepositServlet.scala
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/package.scala
  src/test/resources/manual-test/invalid.tar.gz
  src/test/resources/manual-test/ruimtereis-bag.tar
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichArchiveInputStreamSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichFileItemsSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/UploadSpec.scala
Owners: @jo-pol, @rvanheest

broken unit tests
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichFileItemsSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/UploadSpec.scala
Owners: @jo-pol, @rvanheest

documented tar file treatment
  docs/api/api.yml
Owners: @jo-pol, @janvanmansum

Update docs/api/api.yml
  docs/api/api.yml
Owners: @jo-pol, @janvanmansum

EASY-2331: handle tar like zip (#187)
  docs/api/api.yml
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Errors.scala
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/DepositServlet.scala
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/package.scala
  src/test/resources/manual-test/invalid.tar.gz
  src/test/resources/manual-test/ruimtereis-bag.tar
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichArchiveInputStreamSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/RichFileItemsSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/UploadSpec.scala
Owners: @jo-pol, @janvanmansum, @rvanheest

EASY-2400 update documentation
  README.md
  docs/api/api.yml
  docs/index.md
  src/main/assembly/bin.xml
Owners: @jo-pol, @janvanmansum, @rvanheest

testing impossible with final session class
  pom.xml
  src/main/assembly/dist/cfg/application.properties
  src/main/assembly/dist/cfg/template/depositConfirmation.html
  src/main/assembly/dist/cfg/template/depositConfirmation.txt
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
Owners: @jo-pol, @rvanheest

compose submission confirmation mail
  pom.xml
  src/main/assembly/dist/cfg/application.properties
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
Owners: @jo-pol, @rvanheest

empty content
  src/main/assembly/dist/cfg/application.properties
  src/main/assembly/dist/cfg/template/depositConfirmation.txt
  src/main/scala/nl.knaw.dans.easy.deposit/AgreementGenerator.scala
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
Owners: @jo-pol, @rvanheest

nullpointer
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
Owners: @jo-pol, @rvanheest

implemented velocity
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
Owners: @jo-pol, @rvanheest

trait -> case class, dist
  pom.xml
  src/main/assembly/dist/cfg/application.properties
  src/main/scala/nl.knaw.dans.easy.deposit/AgreementGenerator.scala
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
Owners: @jo-pol, @rvanheest

mail has content, attachments not yet
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
Owners: @jo-pol, @rvanheest

Changed API version number back to 1.0.0
  docs/api/api.yml
Owners: @jo-pol, @janvanmansum

[maven-release-plugin] prepare release v1.0.0
  pom.xml
Owners: @jo-pol, @rvanheest

[maven-release-plugin] prepare for next development iteration
  pom.xml
Owners: @jo-pol, @rvanheest

first draft
  src/main/assembly/dist/cfg/application.properties
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/executor/QueuedThreadPoolExecutor.scala
  src/main/scala/nl.knaw.dans.easy.deposit/executor/SubmitJob.scala
  src/main/scala/nl.knaw.dans.easy.deposit/executor/ThreadPoolConfig.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
Owners: @jo-pol, @rvanheest

white space in bccs not mandatory
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
Owners: @jo-pol, @rvanheest

only schedule a submit after 'input errors' are resolved
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
Owners: @jo-pol, @rvanheest

attachments
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
Owners: @jo-pol, @rvanheest

multiple user records for multiple purposes
  src/main/scala/nl.knaw.dans.easy.deposit/AgreementGenerator.scala
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/main/scala/nl.knaw.dans.easy.deposit/authentication/AuthenticationProvider.scala
  src/main/scala/nl.knaw.dans.easy.deposit/authentication/LdapAuthentication.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/AgreementData.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/AgreementUser.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/AgreementsXml.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/UserData.scala
  src/main/scala/nl.knaw.dans.easy.deposit/servlets/UserServlet.scala
  src/test/scala/nl.knaw.dans.easy.deposit/DebugConfigSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
  src/test/scala/nl.knaw.dans.easy.deposit/authentication/LdapAuthenticationSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/docs/AgreementsSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/HappyRoutesSpec.scala
Owners: @jo-pol, @rvanheest

just comment
  src/main/scala/nl.knaw.dans.easy.deposit/docs/AgreementData.scala
Owners: @jo-pol, @rvanheest

implemented agreement generator
  pom.xml
  src/main/scala/nl.knaw.dans.easy.deposit/AgreementGenerator.scala
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Errors.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/AgreementData.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/UserData.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/AgreementGeneratorSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/FixedDateTime.scala
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
  src/test/scala/nl.knaw.dans.easy.deposit/servlets/DoiSpec.scala
Owners: @jo-pol, @rvanheest

configure link to my-datasets
  src/main/assembly/dist/cfg/application.properties
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/MailerSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
Owners: @jo-pol, @rvanheest

stubs for mailer and agreement-generator in other tests
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/test/scala/nl.knaw.dans.easy.deposit/SubmitterSpec.scala
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
Owners: @jo-pol, @rvanheest

comment
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
Owners: @jo-pol, @rvanheest

get tel+country
  src/main/scala/nl.knaw.dans.easy.deposit/AgreementGenerator.scala
  src/main/scala/nl.knaw.dans.easy.deposit/authentication/AuthenticationSupport.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/AgreementData.scala
  src/main/scala/nl.knaw.dans.easy.deposit/docs/UserData.scala
  src/test/scala/nl.knaw.dans.easy.deposit/authentication/LdapMocker.scala
Owners: @jo-pol, @rvanheest

files.xml -> manifest
  src/main/assembly/dist/cfg/application.properties
  src/main/scala/nl.knaw.dans.easy.deposit/DataFiles.scala
  src/main/scala/nl.knaw.dans.easy.deposit/EasyDepositApiApp.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Mailer.scala
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
  src/test/resources/debug-config/application.properties
  src/test/scala/nl.knaw.dans.easy.deposit/TestSupportFixture.scala
Owners: @jo-pol, @rvanheest

redundant argument
  src/main/scala/nl.knaw.dans.easy.deposit/Submitter.scala
Owners: @jo-pol, @rvanheest

.github/CODEOWNERS:

# configuration for authorized and required reviewers
* @jo-pol @rvanheest

# code
# no overrides

# documentation
/docs/ @jo-pol @janvanmansum
/README.md @jo-pol

# policies
/.github/PULL_REQUEST_TEMPLATE.md @DANS-KNAW/easy-leads
/.github/CODEOWNERS @DANS-KNAW/easy-leads
